{%- if site.footer OR site.footer != blank OR site.show-credit -%}
<footer class="site-footer">
  <div class="wrapper">
    {%- if site.show-credit -%}
      <p class="credit-text">{%- if site.credit.copyright-symbol -%}<span class="large-symbol">&copy;</span> {%- endif -%}{{ site.credit.text | markdownify | remove: "<p>" | remove: "</p>" }}
    {%- endif -%}
    
    {%- include sections/footer/_connections.html -%}
    
    {%- include sections/footer/_rel-sites.html sites=site.footer.related-sites -%}
    
  </div>
</footer>
{%- endif %}
{% include util/_footer-icon-libraries.html %}
