<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- case site.title-format %}
  {%- when "page-site" %}
    {%- seo %}
  {%- when "page" %}
    {%- seo title=false %}
    <title>{{ page.title | escape }}</title>
  {%- when "site" %}
    {%- seo title=false %}
    <title>{{ site.title | escape }}</title>
  {% else %}
  {%- seo %}
  {%- endcase %}
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  {%- include util/_header-icon-libraries.html -%}
  {%- include util/_google-fonts.html -%}
  <link rel="stylesheet" href="{{ "/css/stylesheet.css" | relative_url }}">
  {% for static_file in site.static_files %}
    {% if static_file.path == '/css/overrides.css' %}
      <link rel="stylesheet" href="{{ "/css/overrides.css" | relative_url }}">
    {% endif %}
  {% endfor %}
  {%- if site.mathjax or page.mathjax -%}
  <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  {%- endif %}
</head>
